.horizontal_media_scroller {
  @apply flex flex-col sm:grid sm:pr-[200px] md:pr-[450px] scroll-smooth;
  --column-width: 340px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, var(--column-width));
  margin: 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;

  & > .card {
    @apply snap-always snap-start w-full sm:w-[340px] p-4 border-[1px] border-borderColor flex flex-col gap-2 justify-between;

    & > .imageWrapper {
      @apply relative aspect-square rounded-md overflow-hidden;

      & > .image {
        @apply object-cover;
      }
    }
  }

  & > .card:last-child {
    @apply border-transparent;
  }

  & > .details {
    @apply flex flex-col;
  }

  & > .topCard {
    @apply z-10 sm:absolute sm:mx-container top-0 h-full bg-black left-0 sm:left-[340px] lg:left-[calc(340px*2)] flex flex-col justify-between gap-4;
  }
}
